/* Basic CSS file for Sprout & Grow website */
/* scaling for standard monitor */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
  }


header, footer {
    background-color: #1A5319;
    color: #D6EFD8;
    text-align: center;
    padding: 10px 0;
}

footer .a {
    text-decoration: none;
    color: #D6EFD8;
}

main {    
    flex-direction: row;
    padding: 10px;
    text-align: center;
    flex: 1;    
    background-color: #D6EFD8;
    color: #1A5319;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerMainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.headerNav{
    font-size: 30px;
    color: #D6EFD8;
    text-decoration: none;
}

.specialtiesList{
    color: #1A5319;    
    list-style-type: none;
}

.specialtyItems {
    font-size: 20px;
    margin: 10px;
}
/* content takes half of page */
.mainTextContent{
    width:50%;
}
/* image takes other half */
.mainImageContent{
    width:50%;
}
/* maintain image scaling */
.mainImage{
    width: 100%;
    height: auto;
}

.flexbox-row {
    display: flex;
    height: 100%;
  }

.headerText{
    font-size: 60px;
}

.headerInfo{
    font-size: 30px;
}

.mainLogo{
    width: 100px;
    height: auto;
    margin-left: 30px;
    align-self: center;
}

.mainText{
    font-size: 20px;
    margin: 100px;
}

.footerText{
    font-size: 30px;
}

.eventContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.eventCard{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    width: 100vw;
    margin: auto;
    text-align: left;
}

.eventContents{
    margin: 20px;
}

.eventButton {
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #D6EFD8;
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
}



.productContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productCard{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    width: 30vw;
    margin: auto;
    text-align: center;
}

.price {
    color: grey;
    font-size: 22px;
  }

  /* make these keep their scaling  */
.productImage{
    width:100%;
    height: 40vh;
}

  .productCard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .productCard button:hover {
    opacity: 0.7;
  }

  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .formContainer{
    display: inline-block;
  }


  /* sacling for mobile phones */
  /* main change all items appear in column for readability */
@media only screen and (max-width: 600px) {   
    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        width:100vw;
    } 
    main {    
        flex-direction: column;
        
    }    
    nav{
        display: flex;
        flex-direction: column; 
    }
    .headerMainContent{
        display: flex;
        flex-direction: row;
        
    }
    .mainTextContent{
        padding:10px;
        width:100%;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    .mainImageContent{
        padding:10px;
        width:100%;
        justify-content: center;
    }
    .mainImage{
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .headerNav{
        padding: 5px;
        font-size: 20px;
        color: #D6EFD8;
        text-decoration: none;
    }
    .flexbox-row {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
    
    .headerText{
        font-size: 30px;
    }
    
    .headerInfo{
        font-size: 20px;
    }
    
    .mainLogo{
        width: 100px;
        height: auto;        
    }
    
    .mainText{
        font-size: 20px;
        margin: 10px;
    }
    
    .footerText{
        font-size: 20px;
    }    
    .productCard{
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
        width: 100vw;
        margin: auto;
        text-align: center;
    }
}
 